.post{
     .postHeader{
          .title{
               font-size: 36px;
          }
          .abouu{
               font-size: 15px;
               color: #8f9bad;
               font-weight: 600;
               gap: 10px;
               .authorImg{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    img{
                         width: 100%;
                         height: 100%;
                         border-radius: 50%;
                    }
               }
               .comments{
                    font-weight: 100;
                    font-size: 14px;
                    color: #8f9bad;
               }
          }
     }
     .postBody{
          .featuredImg{
               height: 50vh;
               width: 100%;
               img{
                    object-fit: cover;
               }
          }
          .introduction, .body ,.conclusion{
               font-size: 16px;
               line-height: 1.8;
               color: #484849;
               font-weight: 300;
               margin-top: 10px;
          }
          .introduction::before, .body::before, .conclusion::before{
               content: "&nbsp;";
               color: transparent;
          }
     }
     .postFooter{
          .gallery{
               height: 30vh;
               width: 100%;
               overflow-x: scroll;
               border: #ff5e3a 1px dashed;
               img{
                    object-fit: contain;
               }
          }
          .moee{
               font-size: 15px;
               color: #8f9bad;
               font-weight: 600;
               margin: 30px 0;
               .keywords{
                    justify-content: center;
                    align-items: center;
                    .words{
                         font-size: 14px;
                         color: #484849;
                         font-weight: 600;
                         border: 1px solid #8f9bad;
                         padding: 5px 10px;
                         border-radius: 20px;
                    }
                    .words::before{
                         content: "#";
                    }
               }
          }
          .aboutInfo{
               height: 20vh;
               font-size: 15px;
               color: #8f9bad;
               font-weight: 600;
               width: 80%;
               margin: 0 auto;
               background-color: #ff5e3a21;
               align-items: center;
               justify-content: center;
               padding: 10px;
               display: grid;
               grid-template-columns: 1fr 4fr;
               border-radius: 30px;
               .authorImg{
                    width: 100px;
                    height: 100px;
                    img{
                         width: 100%;
                         height: 100%;
                         object-fit: contain;
                         border-radius: 50%;
                    }
               }
               .abouttM{
                    .author{
                         font-size: 20px;
                         color: #484849;
                         font-weight: 600;
                    }
                    .quote{
                         font-weight: 400;
                         font-size: 15px;
                         color: #8f9bad;
                    }
                    .quote::before, .quote::after{
                         content: '"';
                         font-size: 20px;
                         color: #ff5e3a;
                         font-size: 900;
                    }
               }
          }
     }
}
.progress{
     position: fixed;
     width: 100vw;
     z-index: 2000;
     .progress-bar{
          width: 25%;
          background-color: #ff5e3a;
     }
}
@media (max-width:800px) {
     
}