*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor:auto !important;
}
.heronav-section{
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(#00000052,#0000004b),url(media/artistic_wallpapers_big_20.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-content{
     border: 1px solid #0000004b;
     padding: 10px;
     height: 150px;
     .content{
          height: 98%;
          overflow-y: hidden;
     }
     .blog-img{
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
     }
      .author-img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid #0000004b;
          img{
               width: 100%;
               height: 100%;
               object-fit: cover;
               border-radius: 50%;
          }
     }
     .gallery{
          overflow-x: scroll;
          div{
               animation: move 10s linear infinite;
               img{
                    width: 80px;
                    height: 100%;
                    object-fit: cover;
               }
          }
     }
}
@keyframes move{
     0%{
          transform: translateX(0);
     }
     100%{
          transform: translateX(-100%);
     }
}
::-webkit-scrollbar{
     display: none;
}
.blog-content:hover{
     box-shadow: 5px 5px 5px #0000004b;
     .gallery{
          div{
               animation: move 0s linear infinite;
          }
     }
}